@import './base.css';

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("http://fonts.cdnfonts.com/css/bord-demo");
/* reset styles */
@import url("http://fonts.cdnfonts.com/css/earth-orbiter");
@import url("http://fonts.cdnfonts.com/css/bord-demo");
* {
  box-sizing: border-box;
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

body::-webkit-scrollbar {
  width: 3px; /* width of the entire scrollbar */
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: hsl(211deg, 90%, 50%);
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

h1 {
  color: hsl(0deg, 5%, 10%);
}

.fs-bord {
  font-family: "Bord Demo", sans-serif;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.box {
  padding: 1rem;
}

.form-container {
  margin: 40px auto;
  text-align: center;
}

input, textarea {
  padding-inline: 30px;
  padding-block: 10px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #d2d2d2;
}

:is(input, textarea):focus {
  border: 1px solid hsl(211deg, 90%, 50%);
}

.carousel {
  display: flex;
  gap: 20px;
  align-items: center;
  overflow-x: auto;
  scroll-snap-align: start;
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

.carousel::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #084a91;
  color: hsl(0deg, 0%, 93%);
  text-shadow: none;
}

select {
  font-family: inherit;
  padding: 0.875em;
  border-radius: 8px;
  width: clamp(50%, 20em, 100%);
  border: 1px solid transparent;
  box-shadow: 0 3px 2px -3px hsl(211deg, 90%, 50%);
  transition: border 0.3s ease-in, outline 0.6s ease-in, box-shadow 0.6s ease-in;
  appearance: none;
  background-image: url('data:image/svg+xml; utf8, <svg width="16px" height="16px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.2929,5.292875 C12.6834,4.902375 13.3166,4.902375 13.7071,5.292875 C14.0976,5.683375 14.0976,6.316555 13.7071,6.707085 L8.70711,11.707085 C8.31658,12.097605 7.68342,12.097605 7.29289,11.707085 L2.29289,6.707085 C1.90237,6.316555 1.90237,5.683375 2.29289,5.292875 C2.68342,4.902375 3.31658,4.902375 3.70711,5.292875 L8,9.585765 L12.2929,5.292875 Z"  style="fill: hsl(222,20%,40%);"/></svg>');
  background-size: 1em;
  background-position: calc(100% - 1em) 50%;
  background-repeat: no-repeat;
  outline: none;
  position: relative;
}
.dark select {
  background-image: url('data:image/svg+xml; utf8, <svg width="16px" height="16px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.2929,5.292875 C12.6834,4.902375 13.3166,4.902375 13.7071,5.292875 C14.0976,5.683375 14.0976,6.316555 13.7071,6.707085 L8.70711,11.707085 C8.31658,12.097605 7.68342,12.097605 7.29289,11.707085 L2.29289,6.707085 C1.90237,6.316555 1.90237,5.683375 2.29289,5.292875 C2.68342,4.902375 3.31658,4.902375 3.70711,5.292875 L8,9.585765 L12.2929,5.292875 Z"  style="fill: hsl(222,20%,70%);"/></svg>');
}
select:focus {
  border-color: var(--tint);
  outline-color: var(--tint2);
  transition: border 0.6s ease-out, outline 0.3s ease-out, box-shadow 0.3s ease-out;
}
select::placeholder {
  opacity: 0.33;
  font-style: italic;
}

input[type=range] {
  -webkit-appearance: none;
}

input[type=radio] {
  padding: 0;
  border: none;
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  outline: 3px solid hsl(0deg, 5%, 10%);
  outline-offset: 3px;
}

input[type=radio]:checked {
  background-color: hsl(0deg, 5%, 10%);
}

.btn {
  color: hsl(0deg, 0%, 93%);
  background-color: hsl(211deg, 90%, 50%);
  border-radius: 8px;
  border: none;
  padding: 1rem;
  outline: none;
  cursor: pointer;
}

.btn-primary-outline {
  background-color: transparent;
  border: 1px solid hsl(211deg, 90%, 50%);
  color: hsl(211deg, 90%, 50%);
}
.btn-primary-outline:hover {
  background-color: hsl(211deg, 90%, 50%);
  color: hsl(0deg, 0%, 93%);
  border: none;
}

.btn-dark-outline {
  background-color: transparent;
  border: 1px solid hsl(0deg, 5%, 10%);
  color: hsl(0deg, 5%, 10%);
}
.btn-dark-outline:hover {
  background-color: hsl(0deg, 5%, 10%);
  color: hsl(0deg, 0%, 93%);
  border: none;
}

.btn-light-outline {
  background-color: transparent;
  border: 1px solid hsl(0deg, 0%, 93%);
  color: hsl(0deg, 0%, 93%);
}
.btn-light-outline:hover {
  background-color: hsl(0deg, 0%, 93%);
  color: hsl(0deg, 0%, 93%);
  border: none;
  color: hsl(0deg, 5%, 10%);
}

.btn-danger-outline {
  background-color: transparent;
  border: 1px solid hsl(337deg, 100%, 50%);
  color: hsl(337deg, 100%, 50%);
}
.btn-danger-outline:hover {
  background-color: hsl(337deg, 100%, 50%);
  color: hsl(0deg, 0%, 93%);
  border: none;
}

.btn-success-outline {
  background-color: transparent;
  border: 1px solid hsl(151deg, 54%, 53%);
  color: hsl(151deg, 54%, 53%);
}
.btn-success-outline:hover {
  background-color: hsl(151deg, 54%, 53%);
  color: hsl(0deg, 0%, 93%);
  border: none;
}

.btn-warning-outline {
  background-color: transparent;
  border: 1px solid hsl(46deg, 92%, 54%);
  color: hsl(46deg, 92%, 54%);
}
.btn-warning-outline:hover {
  background-color: hsl(46deg, 92%, 54%);
  color: hsl(0deg, 0%, 93%);
  border: none;
}

.btn-gold-outline {
  background-color: transparent;
  border: 1px solid hsl(30deg, 50%, 60%);
  color: hsl(30deg, 50%, 60%);
}
.btn-gold-outline:hover {
  background-color: hsl(30deg, 50%, 60%);
  color: hsl(0deg, 0%, 93%);
  border: none;
}

.btn-disabled-outline {
  background-color: transparent;
  border: 1px solid hsl(0deg, 0%, 87%);
  color: hsl(0deg, 0%, 87%);
}
.btn-disabled-outline:hover {
  background-color: hsl(0deg, 0%, 87%);
  color: hsl(0deg, 0%, 93%);
  border: none;
}

.btn-primary {
  background-color: hsl(211deg, 90%, 50%);
}
.btn-primary:hover {
  background-color: transparent;
  border: 1px solid hsl(211deg, 90%, 50%);
  color: hsl(211deg, 90%, 50%);
}

.btn-dark {
  background-color: hsl(0deg, 5%, 10%);
}
.btn-dark:hover {
  background-color: transparent;
  border: 1px solid hsl(0deg, 5%, 10%);
  color: hsl(0deg, 5%, 10%);
}

.btn-light {
  background-color: hsl(0deg, 0%, 93%);
  color: hsl(0deg, 5%, 10%);
}
.btn-light:hover {
  background-color: transparent;
  border: 1px solid hsl(0deg, 0%, 93%);
  color: hsl(0deg, 0%, 93%);
}

.btn-danger {
  background-color: hsl(337deg, 100%, 50%);
}
.btn-danger:hover {
  background-color: transparent;
  border: 1px solid hsl(337deg, 100%, 50%);
  color: hsl(337deg, 100%, 50%);
}

.btn-success {
  background-color: hsl(151deg, 54%, 53%);
}
.btn-success:hover {
  background-color: transparent;
  border: 1px solid hsl(151deg, 54%, 53%);
  color: hsl(151deg, 54%, 53%);
}

.btn-warning {
  background-color: hsl(46deg, 92%, 54%);
}
.btn-warning:hover {
  background-color: transparent;
  border: 1px solid hsl(46deg, 92%, 54%);
  color: hsl(46deg, 92%, 54%);
}

.btn-gold {
  background-color: hsl(30deg, 50%, 60%);
}
.btn-gold:hover {
  background-color: transparent;
  border: 1px solid hsl(30deg, 50%, 60%);
  color: hsl(30deg, 50%, 60%);
}

.btn-disabled {
  background-color: hsl(0deg, 0%, 87%);
}
.btn-disabled:hover {
  background-color: transparent;
  border: 1px solid hsl(0deg, 0%, 87%);
  color: hsl(0deg, 0%, 87%);
}

.border-primary {
  border: 1px solid hsl(211deg, 90%, 50%);
}

.border-dark {
  border: 1px solid hsl(0deg, 5%, 10%);
}

.border-light {
  border: 1px solid hsl(0deg, 0%, 93%);
}

.border-danger {
  border: 1px solid hsl(337deg, 100%, 50%);
}

.border-success {
  border: 1px solid hsl(151deg, 54%, 53%);
}

.border-warning {
  border: 1px solid hsl(46deg, 92%, 54%);
}

.border-gold {
  border: 1px solid hsl(30deg, 50%, 60%);
}

.border-disabled {
  border: 1px solid hsl(0deg, 0%, 87%);
}

.clr-accent-primary {
  accent-color: hsl(211deg, 90%, 50%);
}

.clr-accent-dark {
  accent-color: hsl(0deg, 5%, 10%);
}

.clr-accent-light {
  accent-color: hsl(0deg, 0%, 93%);
}

.clr-accent-danger {
  accent-color: hsl(337deg, 100%, 50%);
}

.clr-accent-success {
  accent-color: hsl(151deg, 54%, 53%);
}

.clr-accent-warning {
  accent-color: hsl(46deg, 92%, 54%);
}

.clr-accent-gold {
  accent-color: hsl(30deg, 50%, 60%);
}

.clr-accent-disabled {
  accent-color: hsl(0deg, 0%, 87%);
}

.card {
  display: block;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.card .card-head {
  width: 100%;
  margin-bottom: 0.75rem;
}
.card .card-body {
  font-size: 0.75rem;
}
.card .card-body a {
  text-decoration: underline;
}
.card .card-title {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

.txt-primary {
  color: hsl(211deg, 90%, 50%);
}

.bg-primary {
  background-color: hsl(211deg, 90%, 50%);
  color: hsl(0deg, 0%, 93%);
}

.txt-primary-lighten-1 {
  color: #2589f3;
}

.bg-primary-lighten-1 {
  background-color: #2589f3;
  color: hsl(0deg, 5%, 10%);
}

.txt-primary-darken-1 {
  color: #0c70da;
}

.bg-primary-darken-1 {
  background-color: #0c70da;
  color: hsl(0deg, 0%, 93%);
}

.txt-primary-lighten-2 {
  color: #3d96f5;
}

.bg-primary-lighten-2 {
  background-color: #3d96f5;
  color: hsl(0deg, 5%, 10%);
}

.txt-primary-darken-2 {
  color: #0a63c2;
}

.bg-primary-darken-2 {
  background-color: #0a63c2;
  color: hsl(0deg, 0%, 93%);
}

.txt-primary-lighten-3 {
  color: #56a3f6;
}

.bg-primary-lighten-3 {
  background-color: #56a3f6;
  color: hsl(0deg, 5%, 10%);
}

.txt-primary-darken-3 {
  color: #0957a9;
}

.bg-primary-darken-3 {
  background-color: #0957a9;
  color: hsl(0deg, 0%, 93%);
}

.txt-primary-lighten-4 {
  color: #6eb0f7;
}

.bg-primary-lighten-4 {
  background-color: #6eb0f7;
  color: hsl(0deg, 5%, 10%);
}

.txt-primary-darken-4 {
  color: #084a91;
}

.bg-primary-darken-4 {
  background-color: #084a91;
  color: hsl(0deg, 0%, 93%);
}

.txt-primary-lighten-5 {
  color: #86bef9;
}

.bg-primary-lighten-5 {
  background-color: #86bef9;
  color: hsl(0deg, 5%, 10%);
}

.txt-primary-darken-5 {
  color: #073e79;
}

.bg-primary-darken-5 {
  background-color: #073e79;
  color: hsl(0deg, 0%, 93%);
}

.txt-primary-lighten-6 {
  color: #9ecbfa;
}

.bg-primary-lighten-6 {
  background-color: #9ecbfa;
  color: hsl(0deg, 5%, 10%);
}

.txt-primary-darken-6 {
  color: #053261;
}

.bg-primary-darken-6 {
  background-color: #053261;
  color: hsl(0deg, 0%, 93%);
}

.txt-dark {
  color: hsl(0deg, 5%, 10%);
}

.bg-dark {
  background-color: hsl(0deg, 5%, 10%);
  color: hsl(0deg, 0%, 93%);
}

.txt-dark-lighten-1 {
  color: #322f2f;
}

.bg-dark-lighten-1 {
  background-color: #322f2f;
  color: hsl(0deg, 5%, 10%);
}

.txt-dark-darken-1 {
  color: #181616;
}

.bg-dark-darken-1 {
  background-color: #181616;
  color: hsl(0deg, 0%, 93%);
}

.txt-dark-lighten-2 {
  color: #494646;
}

.bg-dark-lighten-2 {
  background-color: #494646;
  color: hsl(0deg, 5%, 10%);
}

.txt-dark-darken-2 {
  color: #161313;
}

.bg-dark-darken-2 {
  background-color: #161313;
  color: hsl(0deg, 0%, 93%);
}

.txt-dark-lighten-3 {
  color: #5f5d5d;
}

.bg-dark-lighten-3 {
  background-color: #5f5d5d;
  color: hsl(0deg, 5%, 10%);
}

.txt-dark-darken-3 {
  color: #131111;
}

.bg-dark-darken-3 {
  background-color: #131111;
  color: hsl(0deg, 0%, 93%);
}

.txt-dark-lighten-4 {
  color: #767474;
}

.bg-dark-lighten-4 {
  background-color: #767474;
  color: hsl(0deg, 5%, 10%);
}

.txt-dark-darken-4 {
  color: #100e0e;
}

.bg-dark-darken-4 {
  background-color: #100e0e;
  color: hsl(0deg, 0%, 93%);
}

.txt-dark-lighten-5 {
  color: #8d8c8c;
}

.bg-dark-lighten-5 {
  background-color: #8d8c8c;
  color: hsl(0deg, 5%, 10%);
}

.txt-dark-darken-5 {
  color: #0e0c0c;
}

.bg-dark-darken-5 {
  background-color: #0e0c0c;
  color: hsl(0deg, 0%, 93%);
}

.txt-dark-lighten-6 {
  color: #a4a3a3;
}

.bg-dark-lighten-6 {
  background-color: #a4a3a3;
  color: hsl(0deg, 5%, 10%);
}

.txt-dark-darken-6 {
  color: #0b0a0a;
}

.bg-dark-darken-6 {
  background-color: #0b0a0a;
  color: hsl(0deg, 0%, 93%);
}

.txt-light {
  color: hsl(0deg, 0%, 93%);
}

.bg-light {
  background-color: hsl(0deg, 0%, 93%);
  color: hsl(0deg, 0%, 93%);
  color: hsl(0deg, 5%, 10%);
}

.txt-light-lighten-1 {
  color: #efefef;
}

.bg-light-lighten-1 {
  background-color: #efefef;
  color: hsl(0deg, 5%, 10%);
}

.txt-light-darken-1 {
  color: #d5d5d5;
}

.bg-light-darken-1 {
  background-color: #d5d5d5;
  color: hsl(0deg, 0%, 93%);
}

.txt-light-lighten-2 {
  color: #f1f1f1;
}

.bg-light-lighten-2 {
  background-color: #f1f1f1;
  color: hsl(0deg, 5%, 10%);
}

.txt-light-darken-2 {
  color: #bebebe;
}

.bg-light-darken-2 {
  background-color: #bebebe;
  color: hsl(0deg, 0%, 93%);
}

.txt-light-lighten-3 {
  color: #f2f2f2;
}

.bg-light-lighten-3 {
  background-color: #f2f2f2;
  color: hsl(0deg, 5%, 10%);
}

.txt-light-darken-3 {
  color: #a6a6a6;
}

.bg-light-darken-3 {
  background-color: #a6a6a6;
  color: hsl(0deg, 0%, 93%);
}

.txt-light-lighten-4 {
  color: #f4f4f4;
}

.bg-light-lighten-4 {
  background-color: #f4f4f4;
  color: hsl(0deg, 5%, 10%);
}

.txt-light-darken-4 {
  color: #8e8e8e;
}

.bg-light-darken-4 {
  background-color: #8e8e8e;
  color: hsl(0deg, 0%, 93%);
}

.txt-light-lighten-5 {
  color: #f6f6f6;
}

.bg-light-lighten-5 {
  background-color: #f6f6f6;
  color: hsl(0deg, 5%, 10%);
}

.txt-light-darken-5 {
  color: #777777;
}

.bg-light-darken-5 {
  background-color: #777777;
  color: hsl(0deg, 0%, 93%);
}

.txt-light-lighten-6 {
  color: #f8f8f8;
}

.bg-light-lighten-6 {
  background-color: #f8f8f8;
  color: hsl(0deg, 5%, 10%);
}

.txt-light-darken-6 {
  color: #5f5f5f;
}

.bg-light-darken-6 {
  background-color: #5f5f5f;
  color: hsl(0deg, 0%, 93%);
}

.txt-danger {
  color: hsl(337deg, 100%, 50%);
}

.bg-danger {
  background-color: hsl(337deg, 100%, 50%);
  color: hsl(0deg, 0%, 93%);
}

.txt-danger-lighten-1 {
  color: #ff1a72;
}

.bg-danger-lighten-1 {
  background-color: #ff1a72;
  color: hsl(0deg, 5%, 10%);
}

.txt-danger-darken-1 {
  color: #e60058;
}

.bg-danger-darken-1 {
  background-color: #e60058;
  color: hsl(0deg, 0%, 93%);
}

.txt-danger-lighten-2 {
  color: #ff3381;
}

.bg-danger-lighten-2 {
  background-color: #ff3381;
  color: hsl(0deg, 5%, 10%);
}

.txt-danger-darken-2 {
  color: #cc004e;
}

.bg-danger-darken-2 {
  background-color: #cc004e;
  color: hsl(0deg, 0%, 93%);
}

.txt-danger-lighten-3 {
  color: #ff4d91;
}

.bg-danger-lighten-3 {
  background-color: #ff4d91;
  color: hsl(0deg, 5%, 10%);
}

.txt-danger-darken-3 {
  color: #b30045;
}

.bg-danger-darken-3 {
  background-color: #b30045;
  color: hsl(0deg, 0%, 93%);
}

.txt-danger-lighten-4 {
  color: #ff66a1;
}

.bg-danger-lighten-4 {
  background-color: #ff66a1;
  color: hsl(0deg, 5%, 10%);
}

.txt-danger-darken-4 {
  color: #99003b;
}

.bg-danger-darken-4 {
  background-color: #99003b;
  color: hsl(0deg, 0%, 93%);
}

.txt-danger-lighten-5 {
  color: #ff80b1;
}

.bg-danger-lighten-5 {
  background-color: #ff80b1;
  color: hsl(0deg, 5%, 10%);
}

.txt-danger-darken-5 {
  color: #800031;
}

.bg-danger-darken-5 {
  background-color: #800031;
  color: hsl(0deg, 0%, 93%);
}

.txt-danger-lighten-6 {
  color: #ff99c0;
}

.bg-danger-lighten-6 {
  background-color: #ff99c0;
  color: hsl(0deg, 5%, 10%);
}

.txt-danger-darken-6 {
  color: #660027;
}

.bg-danger-darken-6 {
  background-color: #660027;
  color: hsl(0deg, 0%, 93%);
}

.txt-success {
  color: hsl(151deg, 54%, 53%);
}

.bg-success {
  background-color: hsl(151deg, 54%, 53%);
  color: hsl(0deg, 0%, 93%);
}

.txt-success-lighten-1 {
  color: #59ce95;
}

.bg-success-lighten-1 {
  background-color: #59ce95;
  color: hsl(0deg, 5%, 10%);
}

.txt-success-darken-1 {
  color: #3fb47b;
}

.bg-success-darken-1 {
  background-color: #3fb47b;
  color: hsl(0deg, 0%, 93%);
}

.txt-success-lighten-2 {
  color: #6bd3a1;
}

.bg-success-lighten-2 {
  background-color: #6bd3a1;
  color: hsl(0deg, 5%, 10%);
}

.txt-success-darken-2 {
  color: #38a06e;
}

.bg-success-darken-2 {
  background-color: #38a06e;
  color: hsl(0deg, 0%, 93%);
}

.txt-success-lighten-3 {
  color: #7ed9ac;
}

.bg-success-lighten-3 {
  background-color: #7ed9ac;
  color: hsl(0deg, 5%, 10%);
}

.txt-success-darken-3 {
  color: #318c60;
}

.bg-success-darken-3 {
  background-color: #318c60;
  color: hsl(0deg, 0%, 93%);
}

.txt-success-lighten-4 {
  color: #90deb8;
}

.bg-success-lighten-4 {
  background-color: #90deb8;
  color: hsl(0deg, 5%, 10%);
}

.txt-success-darken-4 {
  color: #2a7852;
}

.bg-success-darken-4 {
  background-color: #2a7852;
  color: hsl(0deg, 0%, 93%);
}

.txt-success-lighten-5 {
  color: #a3e4c4;
}

.bg-success-lighten-5 {
  background-color: #a3e4c4;
  color: hsl(0deg, 5%, 10%);
}

.txt-success-darken-5 {
  color: #236445;
}

.bg-success-darken-5 {
  background-color: #236445;
  color: hsl(0deg, 0%, 93%);
}

.txt-success-lighten-6 {
  color: #b5e9d0;
}

.bg-success-lighten-6 {
  background-color: #b5e9d0;
  color: hsl(0deg, 5%, 10%);
}

.txt-success-darken-6 {
  color: #1c5037;
}

.bg-success-darken-6 {
  background-color: #1c5037;
  color: hsl(0deg, 0%, 93%);
}

.txt-warning {
  color: hsl(46deg, 92%, 54%);
}

.bg-warning {
  background-color: hsl(46deg, 92%, 54%);
  color: hsl(0deg, 0%, 93%);
}

.txt-warning-lighten-1 {
  color: #f7c935;
}

.bg-warning-lighten-1 {
  background-color: #f7c935;
  color: hsl(0deg, 5%, 10%);
}

.txt-warning-darken-1 {
  color: #ddb01b;
}

.bg-warning-darken-1 {
  background-color: #ddb01b;
  color: hsl(0deg, 0%, 93%);
}

.txt-warning-lighten-2 {
  color: #f8cf4b;
}

.bg-warning-lighten-2 {
  background-color: #f8cf4b;
  color: hsl(0deg, 5%, 10%);
}

.txt-warning-darken-2 {
  color: #c59c18;
}

.bg-warning-darken-2 {
  background-color: #c59c18;
  color: hsl(0deg, 0%, 93%);
}

.txt-warning-lighten-3 {
  color: #f9d562;
}

.bg-warning-lighten-3 {
  background-color: #f9d562;
  color: hsl(0deg, 5%, 10%);
}

.txt-warning-darken-3 {
  color: #ac8915;
}

.bg-warning-darken-3 {
  background-color: #ac8915;
  color: hsl(0deg, 0%, 93%);
}

.txt-warning-lighten-4 {
  color: #fadb78;
}

.bg-warning-lighten-4 {
  background-color: #fadb78;
  color: hsl(0deg, 5%, 10%);
}

.txt-warning-darken-4 {
  color: #947512;
}

.bg-warning-darken-4 {
  background-color: #947512;
  color: hsl(0deg, 0%, 93%);
}

.txt-warning-lighten-5 {
  color: #fbe18f;
}

.bg-warning-lighten-5 {
  background-color: #fbe18f;
  color: hsl(0deg, 5%, 10%);
}

.txt-warning-darken-5 {
  color: #7b620f;
}

.bg-warning-darken-5 {
  background-color: #7b620f;
  color: hsl(0deg, 0%, 93%);
}

.txt-warning-lighten-6 {
  color: #fbe7a5;
}

.bg-warning-lighten-6 {
  background-color: #fbe7a5;
  color: hsl(0deg, 5%, 10%);
}

.txt-warning-darken-6 {
  color: #624e0c;
}

.bg-warning-darken-6 {
  background-color: #624e0c;
  color: hsl(0deg, 0%, 93%);
}

.txt-gold {
  color: hsl(30deg, 50%, 60%);
}

.bg-gold {
  background-color: hsl(30deg, 50%, 60%);
  color: hsl(0deg, 0%, 93%);
}

.txt-gold-lighten-1 {
  color: #d1a375;
}

.bg-gold-lighten-1 {
  background-color: #d1a375;
  color: hsl(0deg, 5%, 10%);
}

.txt-gold-darken-1 {
  color: #b88a5c;
}

.bg-gold-darken-1 {
  background-color: #b88a5c;
  color: hsl(0deg, 0%, 93%);
}

.txt-gold-lighten-2 {
  color: #d6ad85;
}

.bg-gold-lighten-2 {
  background-color: #d6ad85;
  color: hsl(0deg, 5%, 10%);
}

.txt-gold-darken-2 {
  color: #a37a52;
}

.bg-gold-darken-2 {
  background-color: #a37a52;
  color: hsl(0deg, 0%, 93%);
}

.txt-gold-lighten-3 {
  color: #dbb894;
}

.bg-gold-lighten-3 {
  background-color: #dbb894;
  color: hsl(0deg, 5%, 10%);
}

.txt-gold-darken-3 {
  color: #8f6b47;
}

.bg-gold-darken-3 {
  background-color: #8f6b47;
  color: hsl(0deg, 0%, 93%);
}

.txt-gold-lighten-4 {
  color: #e0c2a3;
}

.bg-gold-lighten-4 {
  background-color: #e0c2a3;
  color: hsl(0deg, 5%, 10%);
}

.txt-gold-darken-4 {
  color: #7a5c3d;
}

.bg-gold-darken-4 {
  background-color: #7a5c3d;
  color: hsl(0deg, 0%, 93%);
}

.txt-gold-lighten-5 {
  color: #e6ccb3;
}

.bg-gold-lighten-5 {
  background-color: #e6ccb3;
  color: hsl(0deg, 5%, 10%);
}

.txt-gold-darken-5 {
  color: #664d33;
}

.bg-gold-darken-5 {
  background-color: #664d33;
  color: hsl(0deg, 0%, 93%);
}

.txt-gold-lighten-6 {
  color: #ebd6c2;
}

.bg-gold-lighten-6 {
  background-color: #ebd6c2;
  color: hsl(0deg, 5%, 10%);
}

.txt-gold-darken-6 {
  color: #523d29;
}

.bg-gold-darken-6 {
  background-color: #523d29;
  color: hsl(0deg, 0%, 93%);
}

.txt-disabled {
  color: hsl(0deg, 0%, 87%);
}

.bg-disabled {
  background-color: hsl(0deg, 0%, 87%);
  color: hsl(0deg, 0%, 93%);
}

.txt-disabled-lighten-1 {
  color: #e1e1e1;
}

.bg-disabled-lighten-1 {
  background-color: #e1e1e1;
  color: hsl(0deg, 5%, 10%);
}

.txt-disabled-darken-1 {
  color: #c8c8c8;
}

.bg-disabled-darken-1 {
  background-color: #c8c8c8;
  color: hsl(0deg, 0%, 93%);
}

.txt-disabled-lighten-2 {
  color: #e5e5e5;
}

.bg-disabled-lighten-2 {
  background-color: #e5e5e5;
  color: hsl(0deg, 5%, 10%);
}

.txt-disabled-darken-2 {
  color: #b2b2b2;
}

.bg-disabled-darken-2 {
  background-color: #b2b2b2;
  color: hsl(0deg, 0%, 93%);
}

.txt-disabled-lighten-3 {
  color: #e8e8e8;
}

.bg-disabled-lighten-3 {
  background-color: #e8e8e8;
  color: hsl(0deg, 5%, 10%);
}

.txt-disabled-darken-3 {
  color: #9b9b9b;
}

.bg-disabled-darken-3 {
  background-color: #9b9b9b;
  color: hsl(0deg, 0%, 93%);
}

.txt-disabled-lighten-4 {
  color: #ebebeb;
}

.bg-disabled-lighten-4 {
  background-color: #ebebeb;
  color: hsl(0deg, 5%, 10%);
}

.txt-disabled-darken-4 {
  color: #858585;
}

.bg-disabled-darken-4 {
  background-color: #858585;
  color: hsl(0deg, 0%, 93%);
}

.txt-disabled-lighten-5 {
  color: #efefef;
}

.bg-disabled-lighten-5 {
  background-color: #efefef;
  color: hsl(0deg, 5%, 10%);
}

.txt-disabled-darken-5 {
  color: #6f6f6f;
}

.bg-disabled-darken-5 {
  background-color: #6f6f6f;
  color: hsl(0deg, 0%, 93%);
}

.txt-disabled-lighten-6 {
  color: #f2f2f2;
}

.bg-disabled-lighten-6 {
  background-color: #f2f2f2;
  color: hsl(0deg, 5%, 10%);
}

.txt-disabled-darken-6 {
  color: #595959;
}

.bg-disabled-darken-6 {
  background-color: #595959;
  color: hsl(0deg, 0%, 93%);
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 4rem;
}

.p-4 {
  padding: 6rem;
}

.p-5 {
  padding: 8rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-3 {
  padding-left: 4rem;
}

.pl-4 {
  padding-left: 6rem;
}

.pl-5 {
  padding-left: 8rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 4rem;
}

.pr-4 {
  padding-right: 6rem;
}

.pr-5 {
  padding-right: 8rem;
}

.px-0 {
  padding-inline: 0;
}

.px-1 {
  padding-inline: 1rem;
}

.px-2 {
  padding-inline: 2rem;
}

.px-3 {
  padding-inline: 4rem;
}

.px-4 {
  padding-inline: 6rem;
}

.px-5 {
  padding-inline: 8rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 4rem;
}

.pt-4 {
  padding-top: 6rem;
}

.pt-5 {
  padding-top: 8rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 4rem;
}

.pb-4 {
  padding-bottom: 6rem;
}

.pb-5 {
  padding-bottom: 8rem;
}

.py-0 {
  padding-block: 0;
}

.py-1 {
  padding-block: 1rem;
}

.py-2 {
  padding-block: 2rem;
}

.py-3 {
  padding-block: 4rem;
}

.py-4 {
  padding-block: 6rem;
}

.py-5 {
  padding-block: 8rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4.5rem;
}

.m-5 {
  margin: 6rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.75rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4.5rem;
}

.ml-5 {
  margin-left: 6rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4.5rem;
}

.mr-5 {
  margin-right: 6rem;
}

.mx-0 {
  margin-inline: 0;
}

.mx-1 {
  margin-inline: 1rem;
}

.mx-2 {
  margin-inline: 2rem;
}

.mx-3 {
  margin-inline: 4rem;
}

.mx-4 {
  margin-inline: 6rem;
}

.mx-5 {
  margin-inline: 8rem;
}

.mx-auto {
  margin-inline: auto;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.mb-5 {
  margin-bottom: 6rem;
}

.my-0 {
  margin-block: 0;
}

.my-1 {
  margin-block: 0.75rem;
}

.my-2 {
  margin-block: 1.5rem;
}

.my-3 {
  margin-block: 3rem;
}

.my-4 {
  margin-block: 4.5rem;
}

.my-5 {
  margin-block: 6rem;
}

.br {
  border-radius: 8px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 2px;
}

.br-sm {
  border-radius: 4px;
}

.br-lg {
  border-radius: 16px;
}

.br-xl {
  border-radius: 32px;
}

.br-full {
  border-radius: 50%;
}

.ds-none {
  display: none;
}

.ds-f {
  display: flex;
}

.ds-g {
  display: grid;
}

.ds-b {
  display: block;
}

.ds-ib {
  display: inline-block;
}

.fs-sm {
  font-size: 0.75rem;
}

.fs-md {
  font-size: 1rem;
}

.fs-lg {
  font-size: 1.5rem;
}

.fs-xl {
  font-size: 2rem;
}

.fs-xxl {
  font-size: 3rem;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.g-0 {
  gap: 0;
}

.g-1 {
  gap: 1rem;
}

.g-2 {
  gap: 2rem;
}

.g-3 {
  gap: 4rem;
}

.g-4 {
  gap: 6rem;
}

.g-5 {
  gap: 8rem;
}

.j-center {
  justify-content: center;
}

.j-f-end {
  justify-content: flex-end;
}

.j-f-start {
  justify-content: flex-start;
}

.j-s-between {
  justify-content: space-between;
}

.j-s-around {
  justify-content: space-around;
}

.j-s-evenly {
  justify-content: space-evenly;
}

.al-center {
  align-items: center;
}

.al-end {
  align-items: flex-end;
}

.al-start {
  align-items: flex-start;
}

.al-stretch {
  align-items: space-between;
}

.d-col {
  flex-direction: column;
}

.d-row {
  flex-direction: row;
}

.d-col-reverse {
  flex-direction: column-reverse;
}

.d-row-reverse {
  flex-direction: row-reverse;
}

.w-25 {
  width: 25vw;
}

.w-50 {
  width: 50vw;
}

.w-60 {
  width: 60vw;
}

.w-70 {
  width: 70vw;
}

.w-80 {
  width: 80vw;
}

.w-90 {
  width: 90vw;
}

.w-100 {
  width: 100vw;
}

.h-25 {
  height: 25vh;
}

.h-50 {
  height: 50vh;
}

.h-75 {
  height: 75vh;
}

.h-100 {
  height: 100vh;
}

.align-center {
  text-align: center;
}

.align-end {
  text-align: end;
}

.align-start {
  text-align: start;
}

.align-justify {
  text-align: justify;
}

.align-unset {
  text-align: unset;
}

.pi-center {
  place-items: center;
}

.pi-base {
  place-items: baseline;
}

.pi-end {
  place-items: end;
}

.pi-start {
  place-items: start;
}

.pi-intial {
  place-items: intial;
}

.pi-unset {
  place-items: unset;
}

.of-contain {
  object-fit: contain;
}

.of-cover {
  object-fit: cover;
}

.of-fill {
  object-fit: fill;
}

.of-scale-down {
  object-fit: scale-down;
}

.of-intial {
  object-fit: intial;
}

.of-unset {
  object-fit: unset;
}

.grid-wrap {
  padding: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-gap: 2rem;
  text-align: center;
}
.grid + .grid {
  margin-top: 2rem;
}

nav:default {
  background-color: hsl(0deg, 0%, 93%);
  color: hsl(0deg, 5%, 10%);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  min-height: 80px;
}

.logo {
  font-size: 1.5rem;
  font-family: "Bord Demo", sans-serif;
}

.nav-links ul {
  margin-inline-end: 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.hamburger {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  display: none;
}

.hamburger > span.bar {
  width: 100%;
  height: 3px;
  border-radius: 8px;
}

.bar:default {
  background-color: hsl(0deg, 0%, 93%);
}

.drop-links {
  padding: 2em;
  position: absolute;
  background-color: hsl(0deg, 0%, 93%);
}

.drop-links > li {
  padding: 0.5rem;
}

details {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .hamburger {
    display: flex;
  }
  .nav-links {
    display: none;
    width: 100%;
    min-height: calc(100vh - 56px);
  }
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .logo {
    margin: 0;
    line-height: 3;
    padding: 0.25em;
  }
  .nav-links ul {
    margin-inline-end: 0;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
  .nav-links li {
    padding: 20px 30px;
    text-align: center;
  }
  .nav-links li a {
    padding: 0.5rem 1rem;
  }
  .nav-links.active {
    display: flex;
  }
  .drop-links {
    position: initial;
  }
}
table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
}
table tr {
  border: 1px solid #ddd;
  padding: 0.35em;
}
table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
table th, table td {
  padding: 0.625em;
  text-align: center;
}
@media (max-width: 720px) {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}

.alert {
  background-color: hsl(0deg, 0%, 93%) default;
  color: hsl(0deg, 5%, 10%) default;
  padding: 1rem 4rem;
  border-radius: 8px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.close-btn {
  cursor: pointer;
  padding-inline-start: 20px;
}

.alert-primary {
  background-color: hsl(211deg, 90%, 50%);
  color: hsl(0deg, 0%, 93%);
}

.alert-dark {
  background-color: hsl(0deg, 5%, 10%);
  color: hsl(0deg, 0%, 93%);
}

.alert-light {
  background-color: hsl(0deg, 0%, 93%);
  color: hsl(0deg, 5%, 10%);
}

.alert-danger {
  background-color: hsl(337deg, 100%, 50%);
  color: hsl(0deg, 0%, 93%);
}

.alert-success {
  background-color: hsl(151deg, 54%, 53%);
  color: hsl(0deg, 0%, 93%);
}

.alert-warning {
  background-color: hsl(46deg, 92%, 54%);
  color: hsl(0deg, 0%, 93%);
}

.alert-gold {
  background-color: hsl(30deg, 50%, 60%);
  color: hsl(0deg, 0%, 93%);
}

.alert-disabled {
  background-color: hsl(0deg, 0%, 87%);
  color: hsl(0deg, 0%, 93%);
}

[data-dropdown] {
  --dropdown-border-radius: 4px;
  --dropdown-border-color: #999;
  --dropdown-link-background: #f5f5f5;
  --drodpwon-link-color: #212121;
  --dropdown-panel-background: #fff;
  --dropdown-spacing: 1rem;
  border: 1px solid var(--dropdown-border-color);
  width: auto;
  position: relative;
  border-radius: var(--dropdown-border-radius);
}
[data-dropdown] summary {
  padding: var(--dropdown-spacing);
  position: relative;
}
[data-dropdown] summary:focus {
  outline-width: 3px;
}
[data-dropdown] summary > svg {
  position: absolute;
  right: var(--dropdown-spacing);
  vertical-align: middle;
}
[data-dropdown] summary::-webkit-details-marker {
  display: none;
}
[data-dropdown] ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
  background: var(--dropdown-panel-background);
}
[data-dropdown] li {
  padding: 0;
  margin: 0;
  border-top: 1px solid var(--dropdown-border-color);
}
[data-dropdown] li > a {
  padding: var(--dropdown-spacing);
  display: block;
  color: var(--dropdown-link-color);
  text-decoration: none;
}
[data-dropdown] li > a:hover {
  background-color: var(--dropdown-link-background);
}
